<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tailwind Example Card - Card 2</title>
        <link href="../../../tailwind.css" rel="stylesheet" />
    </head>
    <body class="bg-gray-100 min-h-screen flex flex-col font-serif">
        <main class="max-w-screen-2xl m-auto px-14 flex-1">
            <header class="py-6">
                <h1 class="text-gray-500 text-3xl pb-3">Tailwindcss practice</h1>
                <p>Using challenges from <a href="#" class="text-primary-pink">Frontend Mentor</a>.</p>
            </header>
        </main>
    </body>
</html>
